apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  SECRET_KEY: "change-me-to-something-very-strong"
  WECHAT_TOKEN: "your_prod_token"
  WECHAT_APPID: "your_prod_appid"
  WECHAT_AES_KEY: "your_prod_aes_key"
---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-secrets
type: Opaque
stringData:
  root-password: "root-password"
  user: "user"
  password: "password"
